body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #616161;

	:visited {
		color: #616161;
	}
}

img.notFound {
	max-width: 100%;
}

.active {
	color: #0288d1;

	.activeIcon {
		color: #0288d1;
	}
}
